import /init.recovery.device.rc
import /init.recovery.qcom_decrypt.rc

on init
    exec u:r:recovery:s0 -- /system/bin/resetprop ro.boot.verifiedbootstate orange

on fs
    write /sys/kernel/sdhci_msm/add_host 1
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem /firmware ro
    start qseecomd
    exec u:r:recovery:s0 -- /system/bin/sleep 1s
    start keymaster-3-0
    start keymaster-3-0-qti
    start keymaster-4-0-qti

on boot
    start health-hal-2-1

on boot
    write /sys/bus/cpu/devices/cpu2/online 0
    write /sys/bus/cpu/devices/cpu3/online 0
    write /sys/bus/cpu/devices/cpu4/online 0
    write /sys/bus/cpu/devices/cpu5/online 0
    write /sys/bus/cpu/devices/cpu6/online 0
    write /sys/bus/cpu/devices/cpu7/online 0
